* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* NỀN ẢNH ĐỘNG */
body {
  min-height: 100vh;
  background: url("bg.gif") center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
} 

@keyframes bgMove {
  from {
    background-size: 100%;
    background-position: center;
  }
  to {
    background-size: 115%;
    background-position: center top;
  }
}

/* Nút play */
.play-btn {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  font-size: 32px;
  color: #00ffd5;

  background: rgba(0, 255, 213, 0.15);
  backdrop-filter: blur(6px);

  box-shadow:
    0 0 20px rgba(0, 255, 213, 0.6),
    0 0 60px rgba(0, 255, 213, 0.4);

  animation: pulseGlow 1.8s infinite;
  transition: all 0.3s ease;
}

/* Hover */
.play-btn:hover {
  transform: scale(1.15);
  box-shadow:
    0 0 30px rgba(0, 255, 213, 0.9),
    0 0 90px rgba(0, 255, 213, 0.7);
}

/* Click */
.play-btn:active {
  transform: scale(0.95);
}

/* Hiệu ứng nhịp */
@keyframes pulseGlow {
  0% {
    box-shadow:
      0 0 15px rgba(0, 255, 213, 0.4),
      0 0 40px rgba(0, 255, 213, 0.2);
  }
  50% {
    box-shadow:
      0 0 30px rgba(0, 255, 213, 0.9),
      0 0 90px rgba(0, 255, 213, 0.6);
  }
  100% {
    box-shadow:
      0 0 15px rgba(0, 255, 213, 0.4),
      0 0 40px rgba(0, 255, 213, 0.2);
  }
}
@keyframes pulse {
  0% { box-shadow: 0 0 10px #00e6ff; }
  50% { box-shadow: 0 0 30px #00e6ff; }
  100% { box-shadow: 0 0 10px #00e6ff; }
}

/* PROFILE */
.container {
  background: rgba(65, 114, 156, 0.6);
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  width: 360px;
  backdrop-filter: blur(10px);
  animation: fadeIn 1.5s ease;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

/* AVATAR */
.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid #00e6ff;
  box-shadow: 0 0 20px #00e6ff;
  transition: 0.3s;
}

.avatar:hover {
  box-shadow: 0 0 35px #00e6ff;
}

@keyframes spinGlow {
  0% { transform: rotate(0); box-shadow: 0 0 10px #00e6ff; }
  50% { box-shadow: 0 0 30px #00e6ff; }
  100% { transform: rotate(360deg); box-shadow: 0 0 10px #00e6ff; }
}

/* LINKS */
.links a {
  display: inline-block;
  margin: 10px;
  padding: 10px 22px;
  border-radius: 25px;
  background: transparent;
  border: 2px solid #00e6ff;
  color: #00e6ff;
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  background: #00e6ff;
  color: #7c1919;
  box-shadow: 0 0 20px #00e6ff;
}
